@use "variables" as *;

%button {
  padding: 2px 16px;
  color: $white;
  border-radius: 10px;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

%button-hover{
  background-color: $secondary-color-light;
}

%button-active {
  background-color: $secondary-color-dark;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background-color: $black;
    padding: 6% 10%;
  }
}