@use '_variables' as *;
@use "_mixins" as *;
@use "_animations" as *;
@use "classes" as *;


.addNewProfile{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $border;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 4px solid $grey;
    border-radius: 10px;
    font-size: 3.0rem;
    padding: 1rem;

    p {
      padding-right: 10px;
    }
  }
}

.createProfile {
  background-color: $border;
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  #logo {
    width: 100%;

    a {
      @extend %logo;
    text-align: left;
    }
  }

  &-form {
    font-size: 2rem;
    padding-block: 2rem;
    min-width: 400px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-error {
      text-align: center;
      color: $secondary-color;
      font-size: 1.5rem;
      width: 100%;
    }

    #name {
      padding-top: 40px;
      border-top: 3px solid $grey;
    }

    #kidsSecurity {
      padding-bottom: 40px;
      border-bottom: 3px solid $grey;
    }


    div {
      width: 100%;
      margin-block: 10px;

      p {
        color: $grey;
      }

      input[type="text"] {
        font-size: 1.3rem;
        padding: 8px;
        border-radius: 5px;
        margin-left: 15px;
        min-width: 100px;
        max-width: 500px;
      }

      .checkbox {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        * {
          cursor: pointer;
        }

        &-input {
          appearance: none;
          border: 3px solid $grey;
          width: 1.4rem;
          height: 1.4rem;
          font-size: 1rem;
          padding: 12px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 20px;
        }

        &-input:checked {
          background-color: red;
        }

        &-input:checked::after{
          content: "X";
          color: $white;
        }

      }
      
    }

    &-buttons {
      display: inline-flex;
      padding-block: 20px;  

      button {
        @extend %button;
        font-size: 1.7rem;
        padding: 12px 20px;
        border: none;
        outline: 3px solid $grey;
        background-color: transparent;
      }

      button:hover {
        background-color: $grey;
      }
      button:active {
        background-color: $black;
      }
      
      button:first-child {
        background-color: white;
        color: $black;
        margin-right: 30px;
        outline: 3px solid $white;

        &:hover {
          background-color: $secondary-color-dark;
          color: $white;
          outline: 3px solid $secondary-color-dark;

        }
      }
    }
  }
}
