@use '_variables'as *;
@use "mixins"as *;
@use "classes"as *;

.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $border;
  height: 100vh;

  @media only screen and(max-width: 586px) {
    height: auto;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: xx-large;
    padding-block: 4rem 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    @media only screen and(max-width: 586px) {
      flex-direction: column;
      align-items: center;
    }


    li {
      margin: 0 20px;
      border-radius: 5px;
      cursor: pointer;

      @media only screen and(max-width: 586px) {
        margin-block: 20px;
      }

      &:hover {
        outline: 3px solid white;
        background-color: $grey;
      }

      .kidProfile {
        position: fixed;
        background-color: red;
        color: white;
        transform: rotate(-45deg);
      }

      .icon {
        font-size: 10rem;
        display: flex;
      }

      .profileName {
        text-align: center;
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }

    .addProfile {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10rem;

      &:hover {
        background-color: $grey;
        color: $border;
      }
    }

  }

  button {
    @extend %button;
    border: none;
  }

  .manageProfile-btn {
    background-color: transparent;
    margin-top: 20px;
    padding: 20px 60px;
    outline: 3px solid $grey;
    color: $grey-light;
    font-size: 1.2rem;

    &:hover {
      background-color: $grey-light;
      outline: 3px solid $grey-light;
      color: $border;
    }

    @media only screen and (max-width: 586px) {
      margin-top: 10px;
      padding: 10px 30px;
    }
  }
}