@use "classes";
@use "mixins";
@use "variables"as *;

.menu {
  display: grid;
  align-content: center;
  border: 1px solid black;
  padding: 20px;
  background-color: purple;

  background-color: rgba(43, 43, 43, 0.95);
  border: $border;
  box-shadow: -20px 6px 20px 10px hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;

  li {
    padding: 20px;

    &:hover {
      text-decoration: underline;
      color: $secondary-color;

    }
  }
}

.errorMsg {
  color: $secondary-color;
  padding: 16px 0;
}

.settings {
  h3 {
    margin: 10px 0;
  }

  p {
    margin: 14px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
    }
  }

  &-nav {
    padding: 20px;
    margin-bottom: 10vh;
    background-color: hsla(0, 0%, 28%, 0.45);
    box-shadow: 0px 4px 20px 10px hsla(0, 0%, 0%, 0.5);

    ul {
      display: flex;
      justify-content: space-between;

      li:last-child a {
        @extend %button;
        padding: 10px 20px;
        text-decoration: none;

        &:hover {
          @extend %button-hover;
        }

        &:active {
          @extend %button-active;
        }
      }
    }
  }

  &-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 30vw 50vw;
    gap: 20px;

    &_box {
      display: grid;
      justify-content: center;
      text-align: center;
      padding: 25px 40px;
      border-radius: 10px;
      background-color: rgba(43, 43, 43, 0.95);
      border: $border;
      box-shadow: 20px 6px 20px 10px hsla(0, 0%, 0%, 0.5);

      button {
        @extend %button;
        border: none;
        padding: 10px 16px;

        &:hover {
          @extend %button-hover;
        }

        &:active {
          @extend %button-active;
        }
      }

      form {
        display: grid;
        justify-content: center;
      }

      select {
        font-size: 1.1rem;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: $grey-light;
        margin: 10px 0;
      }

      input {
        margin-block: 10px;
        min-width: 150px;
        max-width: 250px;
        padding: 6px 8px;
        border-radius: 6px;
        font-size: 1.1rem;
        border: none;
        outline: none;
      }
    }
  }
}