$primary-color: hsl(0, 0%, 35%);

$secondary-color: hsl(5, 90%, 53%);
$secondary-color-light: hsl(5, 90%, 60%);
$secondary-color-dark: hsl(5, 90%, 48%);

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 60%);
$black: hsl(0, 0%, 0%);
