$primary-color: hsl(0, 0%, 35%);

$secondary-color: hsl(5, 90%, 53%);
$secondary-color-light: hsl(5, 90%, 60%);
$secondary-color-dark: hsl(5, 90%, 48%);

$accept: hsl(100, 80%, 45%);

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 60%);
$grey-light: hsl(0, 0%, 95%);
$black: hsl(0, 0%, 0%);
$blue: hsl(210, 90%, 55%);

$border: hsl(0, 0%, 22%);
