@use '_variables' as *;
@use "mixins" as *;

@use "_nav";
@use "signup";

body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../public/backgroundImg.jpg');
  color: $white;
}

.container {
  padding: 10% 0 0;
  @include allHeaders;

  .benefits {
    @extend %list;

    h3 {
      text-align: left;
      padding-inline: 0;
      margin: 0;
    }
    .evenComponent {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media only screen and (max-width: 948px) {
        flex-wrap: wrap-reverse;
        justify-content: center;
      }
    }

    &--text {
      width: 50%;

      @media only screen and (max-width: 948px){
        width:100%;
      }
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 6rem 10rem;
      border-top: 8px solid $border;

      @media only screen and (max-width: 948px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    li:last-child {
      border-bottom: 8px solid $border;
    }
  }

  .faq {
    @extend %list;

    h3 {
      padding: 0;
      margin: 0;
    }

    li:first-child {
      padding-top: 5%;
    }

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-block: 10px;
    }

    &--element {
      width: 65%;
      padding: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $primary-color;
    }

    &--answear {
      border-top: 2px solid black;
      background-color: $primary-color;
      width: 65%;
      padding: 25px;
      margin: 0;
    }
  }
}
