@use '_variables' as *;
@use "_mixins" as *;
@use "_animations" as *;

@use "_nav";
@use "signup";
@use "footer";
@use "signin";
@use "registration";
@use "snackbar";
@use "infoSite";
@use "card";
@use "dashboard";

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../public/backgroundImg.jpg');
  color: $white;
  
   * {
     box-sizing: border-box;
   }

   @media only screen and (max-width: 648px) {
    font-size: 1rem;
   }
}

.container {
  padding: 10% 0 0;
  @include allHeaders;

  .benefits {
    @extend %list;

    h3 {
      text-align: left;
      padding-inline: 0;
      margin: 0;
    }
    .evenComponent {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media only screen and (max-width: 948px) {
        flex-wrap: wrap-reverse;
        justify-content: center;
      }
    }

    &--text {
      width: 50%;

      @media only screen and (max-width: 948px){
        width: 100%;
      }
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 6rem 10rem;
      border-top: 8px solid $border;

      @media only screen and (max-width: 948px) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px
      }
    }


    li:last-child {
      border-bottom: 8px solid $border;
    }
  }

  .faq {
    @extend %list;
    border-bottom: 8px solid $border;

    h3 {
      padding: 0;
      margin: 0;
    }

    li:first-child {
      padding-top: 5%;
    }

    li:last-child {
      padding-bottom: 6rem;
    }

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-block: 10px;
    }

    &--element {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $border;
      padding: 20px 30px;

      @media only screen and (max-width: 820px) {
        width: 100%;
      }

      svg {
        font-size: 2.2rem;
      }

      .active--true {
        animation: rotateElement ease-in-out 0.3s;
      }

      .active--false {
        animation: rotateElement ease-in-out 0.3s reverse;
      }
    }

    &--answear {
      border-top: 2px solid black;
      width: 65%;
      margin: 0;      
      background-color: $border;
      padding: 20px 30px;

      
      @media only screen and (max-width: 820px) {
        width: 100%;
      }
    }
  }
}
